<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381879295195-jt1buhrbhto13vf9d93od0u87cbn1tp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381879295195-jt1buhrbhto13vf9d93od0u87cbn1tp6</string>
	<key>API_KEY</key>
	<string>AIzaSyAxwX_30yu8Hzpd6nK6KazYGXMDyS4xLxc</string>
	<key>GCM_SENDER_ID</key>
	<string>381879295195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS329E.CS329E-FinalProject</string>
	<key>PROJECT_ID</key>
	<string>cs329efinalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>cs329efinalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381879295195:ios:a3367feb4ddce4b137c0fe</string>
</dict>
</plist>