<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CS329E_FinalProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>678E576F2909C5580088A917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>678E57882909C55B0088A917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>678E57922909C55B0088A917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
